// ## Colors

// ### Primary

// #### Text

// - Very dark desaturated blue: hsl(238, 29%, 16%)
// - Soft red: hsl(14, 88%, 65%)

// #### Gradient

// Background gradient:

// - Soft violet: hsl(273, 75%, 66%)
// - Soft blue: hsl(240, 73%, 65%)

// ### Neutral

// #### Text

// - Very dark grayish blue: hsl(237, 12%, 33%)
// - Dark grayish blue: hsl(240, 6%, 50%)

// #### Dividers

// - Light grayish blue: hsl(240, 5%, 91%)

$color-primary-blue: #1d1e35;
$color-primary-red: #f47c57;

$color-grad-violet: #af67e9;
$color-grad-blue: #6565e7;

$color-text-dark-blue: #4a4b5e;
$color-text-blue: #787887;

$color-divi-blue: #e7e7e9;